<!DOCTYPE html>
<html>
<head>
    <title>Analiza</title>
</head>

<body>

<h1>Внеси текст</h1>

<form action="/analiza" method="POST">

    <textarea name="text"  ></textarea>

    <br>

    <button type="submit">
        Анализирај
    </button>

</form>


</body>
</html>